:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Edu+TAS+Beginner", sans-serif;
  min-height: 2000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale();
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1 {
  font-size: 2rem;
  color: #ffc1dc;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.hero h4 {
  font-family: "Tangerine";
  font-size: 7rem;
  color: var(--pink);
  text-shadow: var(--shadow);
  line-height: 5rem;
}

.hero h4 span {
  color: #ffc1dc;
  font-size: 8rem;
  margin-top: 0.5rem;
  margin-bottom: -1rem;
}

.hero p {
  padding: 2rem 10% 0;
  font-family: "Sacramento";
  font-size: 2rem;
  color: var(--pink);
  line-height: 2rem;
  margin-top: 1.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.hero h3 {
  font-size: 1.7rem;
  font-family: "Sacramento";
  color: #ffc1dc;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-top: -0.5rem;
}

.hero h5 {
  text-shadow: var(--shadow);
  margin-top: 1rem;
}

.hero a {
  background-color: var(--pink);
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.hero a:hover {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}

/* responsive */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 100%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 90%;
  }

  .simply-countdown > .simply-section {
    padding: 6px;
    margin: 5px;
  }
}
/* mobile */
@media (max-width: 576px) {
  html {
    font-size: 80%;
  }

  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 3px;
  }
}
